body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: url(../images/halloween-main_opt2.webp) no-repeat center center fixed;
  background-position: center center;
  background-size: cover;
  font-family: "Joti One", serif;
  overflow: hidden;
}

.blood {
  z-index: 2;
  top: 0;
  display: flex;
  height: 67vh;
  width: 100vw;
  position: fixed;
}

#page-title {
  font-size: 3rem;
  color: white;
  position: relative;
  z-index: 3;
  text-align: center;
}

.welcome-container {
    font-size: 1.5rem;
    width: auto;
    height: auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
    margin: 100px 30px 0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container p {
  position: relative;
  z-index: 3;
}

.welcome-container li {
  list-style-type: "🎃";
}

.finish-container {
  font-size: 1.5rem;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  border-radius: 20px;
  background-color: #000000;
  padding: 40px;
  margin: 200px auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* Main button styling */
.btn-div {
  position: relative;
  display: flex;
  justify-content: center;
}

#btn {
  font-family: "Joti One", serif;
  width: 100%;
  max-width: 480px;
  height: 10vh;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000000;
}

/* Questions styling */
.question {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 10px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.game-area {
  display: none;
  width: 60vw;
  max-width: 1000px;
  height: 50vh;
  border-radius: 20px;
  background-color: #000000;
  padding: 20px;
  margin: 260px 100px;
}

/* Answers styling */
.answers {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  flex-wrap: wrap;
  margin: 2vw;
  position: relative;
  z-index: 3;
}

.answer-button {
  margin: 40px;
  padding: 20px;
  font-family: "Joti One";
  font-size: 1.5rem;
  border-radius: 10px;
}

.score-area {
  display: none;
  height: 6vh;
  width: 10vw;
  border-radius: 15px;
  background-color: #000000;
  padding: 20px;
  margin: 0 20px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

#score {
  margin: 10px;
}

/* These two are required for the handleAnswerSelection javascript function */
.answer-correct {
  background-color: green;
}

.answer-incorrect {
  background-color: red;
}

.difficulty-select {
  
}

label {
  margin-right: 10px;
  font-size: 1.5rem;
}

#difficulty {
  padding: 8px;
  font-size: 16px;
}

.quiz-container {
  margin-top: 20px;
}